$primary-color: #1db954;
$secondary-color: #191414;

html {
	background: linear-gradient(rgba($primary-color, 0.5), rgba($primary-color, 0.5)),
		url(./images/background-image.jpg) center bottom / cover no-repeat fixed;
}

.window {
	.Home, .Callback, .Rooms {
		top: 50%;
		left: 50%;
		position: absolute;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  	background: rgba($secondary-color, 0.8);
	  	border-radius: 50px;
	  	padding: 20px;
	  	width: 50%;

	  	text-align: center;
	}

	.Rooms {
		width: 75%;
	}
}

.Home {
	.spotify-logo {
		width: 180px;
		height: auto;
		vertical-align: -55%;
		margin: 0 0 0 15px;
	}

	h1 {
		color: white;
		font-family: 'JetBrains Mono', monospace;
		margin: 0 100px;
		font-size: 24px;
		font-weight: 400;
	}

	p {
		text-transform: uppercase;
		color: white;
		font-family: 'Lato', sans-serif;
		margin: 4px;
		font-size: 10px;
	}

	button {
		background: rgba($primary-color, 1);
		border: transparent;
		margin: 10px 0 0 0;
		border-radius: 20px;
		cursor: pointer;
		padding: 5px 10px;
	}

	button:hover {
		background: rgba($primary-color, 0.5);
		animation: fadeOut 0.5s;
	}
}

.Callback {
	h1 {
		color: white;
		font-family: 'JetBrains Mono', monospace;
		font-weight: 400;
		font-size: 28px;

		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: .15em solid rgba($primary-color, 1); /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		animation: 
		  typing 2s steps(40, end),
		  blink-caret .5s step-end infinite;
	}
}

.Rooms {
	display: grid;
	grid-template:
		"title button" 1fr
		"title form" 1fr
		/ 1fr 1fr;
	height: 50%;

	.spotify-logo {
		width: 180px;
		height: auto;
		vertical-align: -55%;
		margin: 0 0 0 15px;
	}

	h1 {
		color: white;
		font-family: 'JetBrains Mono', monospace;
		font-size: 24px;
		font-weight: 400;

		grid-area: title;
		align-self: center;
		justify-self: center;
	}

	button {
		grid-area: button;
		width: 100px;
		padding: 5px 10px;
		align-self: center;
		justify-self: center;
	}

	form {
		grid-area: form;
		align-self: center;
		justify-self: center;
	}

	button, input[type=submit] {
		background: rgba($primary-color, 1);
		border: transparent;
		border-radius: 20px;
		cursor: pointer;
	}

	input[type=submit] {
		padding: 10px;
	}

	button:hover, input[type=submit]:hover {
		background: rgba($primary-color, 0.5);
		animation: fadeOut 0.5s;
	}

	p, input[type=submit] {
		text-transform: uppercase;
		color: white;
		font-family: 'Lato', sans-serif;
		margin: 4px;
		font-size: 10px;
	}

	input[type=text] {
		box-sizing: border-box;
		background: none;
		color: white;
		font-family: 'Lato', sans-serif;
		border: none;
		border-bottom: 2px solid white;
		padding: 5px;
		width: 50%;
		margin: 0 10px;
	}
}

.Game-Container {

	display: grid;

	.Game {
		background: rgba($secondary-color, 0.8);
	  	border-radius: 50px;
	  	margin: 10px;
	}

	.Player-Container {

	}
}

@keyframes fadeOut {
	from { background: rgba($primary-color, 1) }
	to { background: rgba($primary-color, 0.5) }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba($primary-color, 1); }
}