$primary-color: #1db954;
$secondary-color: #191414;
$choice-1-color: #697A21;
$choice-2-color: #00A7E1;
$choice-3-color: #ED33B9;
$choice-4-color: #FF9B42;
$wrong-color: #ed254e;

html {
	background: linear-gradient(rgba($primary-color, 0.5), rgba($primary-color, 0.5)),
		url(./media/background-image.jpg) center bottom / cover no-repeat fixed;
	height: 100%;
}

.window {
	.Home, .Callback, .Rooms {
		top: 50%;
		left: 50%;
		position: absolute;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  	background: rgba($secondary-color, 0.8);
	  	border-radius: 50px;
	  	padding: 20px;
	  	width: 50%;

	  	text-align: center;
	}

	.Rooms {
		width: 75%;
	}

	.Game-Container {
		width: 90%;
		height: 90%;
		top: 50%;
		left: 50%;
		position: absolute;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.Home {
	.spotify-logo {
		width: 180px;
		height: auto;
		vertical-align: -55%;
		margin: 0 0 0 15px;
	}

	h1 {
		color: white;
		font-family: 'JetBrains Mono', monospace;
		margin: 0 100px;
		font-size: 24px;
		font-weight: 400;
	}

	p {
		text-transform: uppercase;
		color: white;
		font-family: 'Lato', sans-serif;
		margin: 4px;
		font-size: 10px;
	}

	button {
		background: rgba($primary-color, 1);
		border: transparent;
		margin: 10px 0 0 0;
		border-radius: 20px;
		cursor: pointer;
		padding: 5px 10px;
	}

	button:hover {
		background: rgba($primary-color, 0.5);
		animation: fadeOutPrimary 0.5s;
	}
}

.Callback {
	h1 {
		color: white;
		font-family: 'JetBrains Mono', monospace;
		font-weight: 400;
		font-size: 28px;

		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: .15em solid rgba($primary-color, 1); /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		animation: 
		  typing 2s steps(40, end),
		  blink-caret .5s step-end infinite;
	}
}

.Rooms {
	display: grid;
	grid-template:
		"title button" 1fr
		"title form" 1fr
		/ 1fr 1fr;
	height: 50%;

	.spotify-logo {
		width: 180px;
		height: auto;
		vertical-align: -55%;
		margin: 0 0 0 15px;
	}

	h1 {
		color: white;
		font-family: 'JetBrains Mono', monospace;
		font-size: 24px;
		font-weight: 400;

		grid-area: title;
		align-self: center;
		justify-self: center;
	}

	button {
		grid-area: button;
		width: 100px;
		padding: 5px 10px;
		align-self: center;
		justify-self: center;
	}

	form {
		grid-area: form;
		align-self: center;
		justify-self: center;
	}

	button, input[type=submit] {
		background: rgba($primary-color, 1);
		border: transparent;
		border-radius: 20px;
		cursor: pointer;
	}

	input[type=submit] {
		padding: 10px;
	}

	button:hover, input[type=submit]:hover {
		background: rgba($primary-color, 0.5);
		animation: fadeOutPrimary 0.5s;
	}

	p, input[type=submit] {
		text-transform: uppercase;
		color: white;
		font-family: 'Lato', sans-serif;
		margin: 4px;
		font-size: 10px;
	}

	input[type=text] {
		box-sizing: border-box;
		background: none;
		color: white;
		font-family: 'Lato', sans-serif;
		border: none;
		border-bottom: 2px solid white;
		padding: 5px;
		width: 50%;
		margin: 0 10px;
	}
}

.Game-Container {

	display: grid;
	grid:
		"game game-id" 1fr
		"game players" 7fr
		/ 5fr 1fr;
	gap: 10px 20px;

	.Game {
		background: $secondary-color;
	  	border-radius: 50px;
	  	
	  	grid-area: game;
	  	display: grid;
	  	grid-template-columns: 1fr 1fr 1fr 1fr;
	  	grid-template-rows: 1fr 1fr .3fr .5fr .5fr 20px;

	  	.start-game {
	  		grid-column: 2 / span 2;
	  		grid-row: 2 / span 1;
	  		align-self: center;
	  		justify-self: center;

	  		padding: 10px 20px;
	  		background: $primary-color;
	  		border: none;
	  		border-radius: 5px;
	  		cursor: pointer;

	  		color: white;
	  		font-family: 'Lato', sans-serif;
	  	}

	  	.loading {
	  		grid-column: 2 / span 2;
	  		grid-row: 2 / span 1;
	  		align-self: center;
	  		justify-self: center;
	  		color: white;
	  		font-family: 'JetBrains Mono', monospace;
	  	}

	  	.start-game:hover {
	  		background: rgba($primary-color, 0.5);
	  		animation: fadeOutPrimary 0.5s;
	  	}

	  	.playing {
	  		display: grid;
	  		grid-column: 1 / span 4;
	  		grid-row: 1 / span 6;
	  		grid-template-columns: 1fr 1fr 1fr 1fr;
	  		grid-template-rows: 1fr 1fr .3fr .5fr .5fr 20px;

	  		.timer {
	  			grid-column: 4 / span 1;
	  			grid-row: 1 / span 1;
	  			align-self: center;
	  			justify-self: center;

	  			font-family: 'JetBrains Mono', monospace;
	  			color: white;
	  			background: $primary-color;
	  			font-size: 20px;

	  			width: 50px;
	  			height: 50px;
	  			line-height: 50px;
	  			border-radius: 50px;
	  			text-align: center;
	  		}

	  		.image {
	  			grid-column: 2 / span 2;
	  			grid-row: 1 / span 2;
	  			align-self: center;
	  			justify-self: center;

	  			width: 280px;
	  			height: 280px;
	  		}

	  		.question {
	  			grid-column: 2 / span 2;
	  			grid-row: 3 / span 1;
	  			align-self: center;
	  			justify-self: center;

	  			font-family: 'JetBrains Mono', monospace;
	  			color: white;
	  			text-align: center;

	  			.highlight {
	  				color: $primary-color;
	  			}
	  		}

	  		.choice-container {
	  			display: grid;
	  			grid-column: 1 / span 4;
	  			grid-row: 1 / span 6;
	  			grid-template-columns: 1fr 1fr 1fr 1fr;
	  			grid-template-rows: 1fr 1fr .3fr .5fr .5fr 20px;
	  			gap: 0px 10px;
	  		}

	  		.choice {
	  			align-self: center;
	  			width: 80%;
	  			height: 80%;

	  			font-family: 'Lato', sans-serif;
	  			color: white;
	  			border: none;
	  			border-radius: 10px;
	  			cursor: pointer;

	  			&:nth-child(1) {
	  				grid-column: 1 / span 2;
	  				grid-row: 4 / span 1;
	  				justify-self: end;

	  				background: $choice-1-color;

	  				&:hover:not(.wrong):not(.correct) {
	  					background: rgba($choice-1-color, 0.5);
	  					animation: fadeOutChoice1 0.5s;
	  				}
	  			}

	  			&:nth-child(2) {
	  				grid-column: 3 / span 2;
	  				grid-row: 4 / span 1;
	  				justify-self: start;

	  				background: $choice-2-color;

	  				&:hover:not(.wrong):not(.correct) {
	  					background: rgba($choice-2-color, 0.5);
	  					animation: fadeOutChoice2 0.5s;
	  				}
	  			}

	  			&:nth-child(3) {
	  				grid-column: 1 / span 2;
	  				grid-row: 5 / span 1;
	  				justify-self: end;

	  				background: $choice-3-color;

	  				&:hover:not(.wrong):not(.correct) {
	  					background: rgba($choice-3-color, 0.5);
	  					animation: fadeOutChoice3 0.5s;
	  				}
	  			}

	  			&:nth-child(4) {
	  				grid-column: 3 / span 2;
	  				grid-row: 5 / span 1;
	  				justify-self: start;

	  				background: $choice-4-color;

	  				&:hover:not(.wrong):not(.correct) {
	  					background: rgba($choice-4-color, 0.5);
	  					animation: fadeOutChoice4 0.5s;
	  				}
	  			}

	  			&.wrong {
	  				background: $wrong-color;
	  				cursor: default;
	  			}

	  			&.correct {
	  				background: $primary-color;
	  				cursor: default;
	  			}
	  		}
	  	}
	}

	.game-id {
		grid-area: game-id;
		align-self: center;
		justify-self: center;
		padding: 10px 20px;
		background: $primary-color;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
		p {
			margin: 0;
			color: white;
			font-family: 'Lato', sans-serif;
		}
	}

	.game-id:hover {
		background: rgba($primary-color, 0.5);
		animation: fadeOutPrimary 0.5s;
	}

	.Player-Container {
		grid-area: players;

		.player {
			position: relative;
			text-align: center;

			img {
				width: 80px;
				height: 80px;
				border-radius: 80px;
			}

			.name {
				position: absolute;
				top: 85%;
				left: 50%;
				transform: translate(-50%, -50%);

				font-family: 'JetBrains Mono', monospace;
				color: white;
				background: $primary-color;
				font-size: 12px;
				width: 100%;
				line-height: 25px;
				border-radius: 25px;
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.points {
				position: absolute;
				top: 0;
				right: 0;

				font-family: 'JetBrains Mono', monospace;
				color: white;
				background: $primary-color;
				font-size: 15px;
				width: 25px;
				height: 25px;
				line-height: 25px;
				border-radius: 25px;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
			}
		}

		.player:nth-child(odd) {
			float: left;
		}

		.player:nth-child(even) {
			float: right;
		}
	}
}

@mixin fadeOut($name, $color) {
	@keyframes #{$name} {
		from { background: rgba($color, 1) }
		to { background: rgba($color, 0.5) }
	}
}

@include fadeOut(fadeOutPrimary, $primary-color);
@include fadeOut(fadeOutChoice1, $choice-1-color);
@include fadeOut(fadeOutChoice2, $choice-2-color);
@include fadeOut(fadeOutChoice3, $choice-3-color);
@include fadeOut(fadeOutChoice4, $choice-4-color);

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba($primary-color, 1); }
}